@import "../../utils/variables";

.note-component {
  cursor: pointer;

  .ripple {
    width: 100%;
    text-align: left;
    padding: 0;
    display: block;
    .header {
      padding: 0.75rem;
      @include flexbox-vertical-center;
      .avatar {
        background-color: $icon-color;
      }
      .notaker-container {
        @include flex(1);
        vertical-align: middle;
        margin-left: 0.5rem;

        .notaker {
          @include p;
        }
        .created-at {
          @include p-small;
        }
      }
      .price-container {
        .price {
          @include p;
        }
      }
    }

    .thumbnail {
      width: 100%;
      height: 15rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .footer {
      padding: 0.75rem 0.5rem;
      .course {
        @include p;
      }
      .title {
        @include p-light;
      }
      .buy {
        color: $icon-color;
      }
    }
  }
}
