.note-component {
  cursor: pointer; }
  .note-component .ripple {
    width: 100%;
    text-align: left;
    padding: 0;
    display: block;
    color: buttontext; }
    .note-component .ripple .user-avatar {
      padding: 0.75rem; }
    .note-component .ripple .thumbnail {
      width: 100%;
      height: 15rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .note-component .ripple .footer {
      padding: 0.75rem 0.5rem; }
      .note-component .ripple .footer .course {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.3;
        font-size: 0.95rem;
        color: #3d3d3d; }
      .note-component .ripple .footer .title {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.3;
        font-size: 0.95rem;
        color: #3d3d3d;
        color: #858585;
        font-size: 0.95rem;
        line-height: 1.25; }
      .note-component .ripple .footer .buy {
        color: #a3a3a3; }
