.note-component {
  cursor: pointer; }
  .note-component .ripple {
    width: 100%;
    text-align: left;
    padding: 0;
    display: block; }
    .note-component .ripple .header {
      padding: 0.75rem;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .note-component .ripple .header .avatar {
        background-color: #abbbc5; }
      .note-component .ripple .header .notaker-container {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        vertical-align: middle;
        margin-left: 0.5rem; }
        .note-component .ripple .header .notaker-container .notaker {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          line-height: 1.3;
          font-size: 1rem;
          color: #3d3d3d; }
        .note-component .ripple .header .notaker-container .created-at {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          line-height: 1.3;
          font-size: 1rem;
          color: #3d3d3d;
          font-size: 0.8rem; }
      .note-component .ripple .header .price-container .price {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.3;
        font-size: 1rem;
        color: #3d3d3d; }
    .note-component .ripple .thumbnail {
      width: 100%;
      height: 15rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .note-component .ripple .footer {
      padding: 0.75rem 0.5rem; }
      .note-component .ripple .footer .course {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.3;
        font-size: 1rem;
        color: #3d3d3d; }
      .note-component .ripple .footer .title {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.3;
        font-size: 1rem;
        color: #3d3d3d;
        color: #858585;
        font-size: 0.95rem;
        line-height: 1.25; }
      .note-component .ripple .footer .buy {
        color: #8c8b8b; }
