@import "../../utils/variables";
.course-component {
  .link {
    text-decoration: none;
    .ripple {
      @include rippleFix;
      .header {
        padding: 1rem;
        margin-bottom: 10rem;
        .code {
          @include p;
        }
        .name {
          @include p-light;
        }
      }
    }
  }
}
