.add-note-modal-dialog .app-bar {
  background-color: #03a9f4; }
  .add-note-modal-dialog .app-bar path {
    color: #ffffff; }
  .add-note-modal-dialog .app-bar .title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #535353;
    font-weight: normal;
    line-height: 1.2;
    font-size: 1.1rem;
    color: #ffffff; }

.add-note-modal-dialog > div:last-child {
  width: 100%;
  height: 100vh;
  max-width: none;
  max-height: none;
  margin: 0; }

.add-note-modal-dialog .dialog-content {
  padding: 0; }
  .add-note-modal-dialog .dialog-content .step-buttons {
    float: right;
    margin-top: 2rem; }
    .add-note-modal-dialog .dialog-content .step-buttons .next-button {
      color: #ffffff; }

.add-note-modal-dialog #responsive-dialog-title {
  visibility: hidden; }

.add-note-modal-dialog .dialog-actions {
  display: none; }

@media (min-width: 960px) {
  .add-note-modal-dialog .app-bar {
    display: none; }
  .add-note-modal-dialog > div:last-child {
    width: 55%;
    height: 90vh;
    max-width: none;
    max-height: none; }
  .add-note-modal-dialog .dialog-content {
    padding: 2rem;
    padding-top: 0;
    overflow-y: visible; }
  .add-note-modal-dialog #responsive-dialog-title {
    visibility: visible; } }
