@import "../../utils/variables";

.notes-container {
  .header {
    @include flexbox-vertical-center;
    .title {
      @include flex(1);
      h1 {
        @include h1;
      }

      h2 {
        @include h2;
      }
    }
    .add-note {
      @include action-button-mobile;
    }
  }
  .grid-container {
    margin-top: 1rem;

    .loader-container {
      text-align: center;
      margin-top: 20vh;

      .loader {
        color: $primary;
      }
    }
  }

  @media (min-width: 960px) {
    .header {
      .add-note {
        @include action-button;
      }
    }
  }
}
