.page-header-components {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .page-header-components .title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .page-header-components .title h1 {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      color: #535353;
      font-weight: normal;
      line-height: 1.3;
      font-size: 1.8rem; }
    .page-header-components .title h2 {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      color: #535353;
      font-weight: normal;
      line-height: 1.3;
      font-size: 1.4rem; }
  .page-header-components .action-button {
    right: 2rem;
    bottom: 2rem;
    z-index: 3;
    position: fixed; }
  @media (min-width: 960px) {
    .page-header-components .action-button {
      position: relative;
      right: auto;
      bottom: auto; } }
