@import "../../utils/variables";
.add-note-stepper-component {
  .stepper {
    padding: 0;
    padding: 1rem;
    .step {
      svg text {
        fill: #ffffff;
      }
    }
  }
  .last-step {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 17vh;
    .published {
      @include h3;
      margin-bottom: 0.25rem;
    }
    .message {
      @include p;
      margin-bottom: 2rem;
    }
    .final-close-button {
      color: #ffffff;
    }
  }
}
