@import "../../utils/variables";
.note-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  .loader {
    @include center-vertical-horizontal(75px, 75px);
  }
  .header {
    @include flexbox-vertical-center;
    .title {
      @include flex(1);
      h1 {
        @include h1;
      }
      h2 {
        @include h2;
      }
    }
    .action-button {
      @include action-button-mobile;
    }
  }

  h3 {
    margin-top: 1.5rem;
    @include h3;
  }
  .description-container {
    margin-top: 0.5rem;
    padding: 1rem;
    .description {
      margin-top: 0.75rem;
      p {
        @include p;
        word-wrap: break-word;
      }
    }
  }

  .files {
    margin-bottom: 2rem;
    h3 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  @media (min-width: 960px) {
    .header {
      .action-button {
        @include action-button;
      }
    }
  }
}
