@import "../../utils/variables";
.note-page-container {
  position: relative;

  h3 {
    @include h3;
  }
  .description-container {
    margin-top: 0.5rem;
    padding: 1rem;
    .description {
      margin-top: 0.75rem;
      p {
        @include p;
        word-wrap: break-word;
      }
    }
  }

  .files {
    margin-bottom: 2rem;
    h3 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
