@import "./utils/variables";

.app-container {
  .view-offset {
    overflow-y: scroll;
    padding: $viewOffsetMarginVertical $viewOffsetMarginHorizontal;
    position: absolute;
    top: $headerHeight;
    bottom: 0;
  }

  @media (min-width: 960px) {
    & {
      .view-offset {
        right: 0;
        left: $sidebarWidth;
      }
    }
  }
}
