.app-container .view-offset {
  overflow-y: scroll;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 64px;
  bottom: 0; }

@media (min-width: 400px) {
  .app-container .view-offset {
    padding: 2rem 3rem; } }

@media (min-width: 960px) {
  .app-container .view-offset {
    right: 0;
    left: 16rem; } }
